{% extends "base_admin.html" %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<form action="{{ url_for('surveyUpdate',survey_id = survey.survey_id)}}" method="post" onsubmit="return validate_fields();"> 
<style>
  .block-container{
    width: auto;
    grid-area: blocks;
    display: grid;
    grid-gap: 5px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 5px;
    grid-template-columns: {{frames}};

  }
  .plus-minus-container {
    min-width:400px;
    grid-area: plus-minus;
    display: grid;;
    margin-bottom:5px;
    grid-gap: 5px;

    grid-template-columns: {{frames}}
  }
  .grid-index-container{
    min-width:400px;
    grid-area: numbers;
    display: grid;
    grid-gap: 5px;
    justify-content: space-evenly;
    width: 100%;;
    margin-bottom:5px;
    grid-template-columns: {{frames}};
   
  }

</style>

<div class="container" style="margin-top: 5%">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Update Survey Details:</div>
          <div class="panel-group">
              <div class="header">
                <h5>Survey Title: </h5>
                <div>
                  <input class="form-control input-group" name="survey_name" id="survey_name" type="text" value="{{survey.survey_name}}" required />
                </div>
              </div>
              <br>
              <div>        
                <h5>Survey Published?</h5>
                {% if survey.publish == "1" %}
                <input type="radio" name="publish" value="1" checked="checked"/> True
                <input type="radio" name="publish" value="2" /> False
                {% else %}
                <input type="radio" name="publish" value="1" /> True
                <input type="radio" name="publish" value="2" checked="checked"/> False
                {% endif %}
              </div>
              <br>

              <div>
                <h4>Instructions</h4>
              </div>
              <div class="btn-group">
              <button type="button" class="btn btn-primary" onclick="display_instruction(0)"> Start </button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(1)"> ID Information </button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(2)"> Part 1 </button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(3)"> Condition of Instruction</button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(4)"> Part 2 </button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(5)"> Part 3 </button>
              <button type="button" class="btn btn-primary" onclick="display_instruction(6)"> Part 4 </button>
            </div>
              <div class="instruction-input">
                <h6>START</h6>
                <textarea name="instructions-start" id="instructions-start" class="form-control input-group">{{survey.instructions[0][0]}}</textarea>
              </div>
  
              <div class="instruction-input">
                <h6>SURVEY ID INFORMATION</h6>
                <textarea name="instructions-id" id="instructions-id" class="form-control input-group">{{survey.instructions[1][0]}}</textarea>
              </div>
  
              <div class="instruction-input">
                <h6>PAGE 1</h6>
                <textarea name="instructions-1" id="instructions-1" class="form-control input-group">{{survey.instructions[2][0]}}</textarea>
              </div>
              <div class="instruction-input">
                <h6>Condition of Instruction</h6>
                <textarea name="instructions-2" id="instructions-1" class="form-control input-group">{{survey.instructions[3][0]}}</textarea>
              </div>
  
              <div class="instruction-input">
                <h6>PAGE 2</h6>
                <textarea name="instructions-3" id="instructions-2" class="form-control input-group">{{survey.instructions[4][0]}}</textarea>
              </div>
  
              <div class="instruction-input">
                <h6>PAGE 3</h6>
                <textarea name="instructions-4" id="instructions-3" class="form-control input-group">{{survey.instructions[5][0]}}</textarea>
              </div>
  
              <div class="instruction-input">
                <h6>PAGE 4</h6>
                <textarea name="instructions-5" id="instructions-4" class="form-control input-group">{{survey.instructions[6][0]}}</textarea>
              </div>

              <br>
              <div>
                <h5>Range</h5>
                <div class="row">
                  <div class="col">
                    <input type='number' name='range' id='rangemin' class="form-control input-group" placeholder='Lower Range' value={{survey.range[0]}} required/>
                  </div>
                  <div class="col">
                    <input type='number' name='range' id='rangemax' class="form-control input-group" placeholder='Upper Range'value={{survey.range[-1]}} required/>
                  </div>
                </div>
              </div>
              
              <!--the grid-->
              <div>
                <div class="header">
                  <h5>Table generated from given values</h5>
                </div>
                <botton class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id="qsorttable" onclick="generateqsort()">Generate Table</botton><br>
                <div class="current-qsort">
                  <div id=currentsort>
                    <div class="block-container" >
                      {%- for c in survey.cols -%}
                      <div style="
                        width: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;"
                      >
                        {%- for i in range(c) -%}
                        <div style="
                        height: 30px;
                        background-color: #ecf0f1;
                        border: 1px solid grey;
                        border-radius: 5px;
                        margin-top:5px;
                        "></div>
                        {%- endfor -%}
                      </div>
                      {%- endfor -%}
                    </div>
                    <div class="plus-minus-container">
                        {%- for c in survey.cols -%}
                        
                        <div style = "
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        text-align: center;
                        height: 30px;
                        width: auto;
                        border-radius: 5px;
                        "
                        > 
                          <div onClick="minusRow( '{{loop.index -1}}','{{survey.range[0]}}')" style="
                            background-color: #d4d8d8;
                            border: 1px solid grey;
                            border-radius: 5px;
                            width: 50%;" 
                           >
                             <i style="color:white;margin-top: 6px;" class="fa fa-minus"></i>
                           </div>
                    
                          <div 
                          onClick="minusRow( '{{loop.index-1}}','{{survey.range[0]}}', 'true')"
                            style="
                            background-color: #d4d8d8;
                            border: 1px solid grey;
                            border-radius: 5px;
                            width: 50%;
                            margin-left:4px"
                          >
                            <i style="color: white;margin-top: 6px;" class="fa fa-plus"></i>
                          </div>
                          </div>
                          {%- endfor -%}
                       </div>
                
                      <div class="grid-index-container">
                        {%- for c in survey.cols -%}
                          <h5 style="color:#495057;width: auto;text-align: center;">{{(loop.index-1 ) - survey.range[-1]}}</h5>
                        {%- endfor -%}
                      </div>
                    </div>
                    <div style="display:flex;margin-top:10px"><p >
                        Number of boxes: 
                     </p>
                     <p style="margin-left:3px" id="grid-count">
                        {{sum}}
                     </p>
                    </div>
                  
                  <div class="cols"></div>
                </div>
              </div>

              <!--
              <div>
                <h5>Columns</h5>
                <input type='number' name='cols' class="form-control input-group" placeholder='Number of spaces for every column in the grid' value={{survey[6]}}/>
                <p id = 'cols'></p>
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id='addcol' onclick='addColumn();'>Add Column</button>
              </div>
              -->
              <br>
              <div>
                <h5>Registration Questions:</h5>
                <p> To create a multiple choice question, enter each option on a new line after the question. </p>
                <div id="register">
                  {%- for r in survey.register -%}
                  {% set outer_loop = loop %}
                  {% if r|length == 1 %}
                   <textarea id='reg{{outer_loop.index}}'class='form-control input-group' name='register' required>
                        {%- for val in r -%}
                        {{val}}
                        {%- endfor -%}
                      </textarea>
                      <button id='reg{{outer_loop.index}}-remove' class='btn btn-danger remove-reg' type='button' onclick=removeRegister({{outer_loop.index}})> Remove Question </button>
                  {%else%}
                     {%if r[r|length -1] == "" %} 
                      <textarea id='reg{{outer_loop.index}}'class='form-control input-group' name='register' required>
                        {%- for val in r -%}
                        {{val}}
                        {%- endfor -%}
                      </textarea>
                      <button id='reg{{outer_loop.index}}-remove' class='btn btn-danger remove-reg' type='button' onclick=removeRegister({{outer_loop.index}})> Remove Question </button>
                      {%else%}
                      <textarea id='reg{{outer_loop.index}}'class='form-control input-group' name='register' required >
                        {%- for val in r -%}
                        {{val}}&#13;
                        {%- endfor -%}
                      </textarea>
                      <button id='reg{{outer_loop.index}}-remove' class='btn btn-danger remove-reg' type='button' onclick=removeRegister({{outer_loop.index}})> Remove Question </button>

                      {%endif%}
                  {%endif%}
                  {%- endfor -%}
                </div>
                <!--<button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id="addq"><span class="glyphicon glyphicon-plus"></span>Add a question</button> -->
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" onclick="addRegister()"> Add Question </button>
              </div>

              <!--
              <div>
                <h5>Register</h5>
                <input type='text' name='register' class="form-control input-group" placeholder='Register' value={{survey[8]}}/>
                <p id='register'></p>
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id='addReg' onclick='addRegister();'>Add Register</button>
              </div>
            -->

              <!-- Sort of Works -->
              <br>
              <div>
                <h5>Statements</h5>
                <p> Please input all statements here seperated each by a new line. It may be easier to write all the statements in a seperate document before copy and pasting here.</p>
                <p class="text-right"> Number of statements: <span id="statements-notice">{{ survey.statements|length }}</span></p>
                <textarea id="statements-input" name='statements' class="form-control input-group" required>
                  {%- for stat in survey.statements -%}
                    {{stat}}&#013;

                  {%- endfor -%}
                  </textarea> 
              </div>

              <!-- 
              <div>
                <h5>Statements</h5>
                <input type='text' name='statements' class="form-control input-group" placeholder='Statements' value={{survey[9]}}/>
                <p id='statement'></p>
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id='addState' onclick='addStatement();'>Add Statement</button>
              </div>
              -->
              
              <!-- WORKS -->
              <br>
              <div>
                <h5>Sorting Criteria</h5>
                <input type='text' name='criteria-negative' class="form-control input-group" style="border-color: red;" value={{survey.criteria[0]}} required>
                <input type='text' name='criteria-neutral' class="form-control input-group" style="border-color: rgb(116, 116, 0);" value={{survey.criteria[1]}} required>
                <input type='text' name='criteria-positive' class="form-control input-group" style="border-color: green;" value={{survey.criteria[2]}} required>
              </div>

              <!--
              <div>
                <h5>Sorting Criteria</h5>
                <input type='text' name='criteria' class="form-control input-group" placeholder='Criteria' value={{survey[11]}}/>
                <p id='criteria'></p>
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id='addCrit' onclick='addCriteria();'>Add Criteria</button>
              </div>
              -->
              <br>
              <div>
                <h5>Questionnaire</h5>
                <p> Leave the fields blank if you do not wish to ask on their Q-sort. Additional short answer questions can be made by clicking 'Add Question' </p>
                <div id=questionnaire>
                {%- for q in survey.questionnaire -%}
                  {% if  q[1] == "most agree" %}
                  <input type='text' value='{{q[0]}}' class='form-control input-group' style="border-color: green;" name='most-questionnaire' placeholder="Question their choice of positive sort"></input>

                  {%elif q[1] == "least agree"%}
                  <input type='text' value='{{q[0]}}' class='form-control input-group' style="border-color: red;" name='least-questionnaire' placeholder="Question their choice of negative sort"></input>

                  {% else %}

                  <input id='que{{loop.index}}' type='text' value='{{q[0]}}' class='form-control input-group' name='questionnaire'></input>
                  <button id='que{{loop.index}}-remove' class='btn btn-danger remove-que' type='button' onclick=removeQuestionnaire({{loop.index}})> Remove Question </button>
                  {%endif%}
                {%- endfor -%}
                </div>
                

                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id='addQue' onclick='addQuestionnaire();'>Add Question</button>
              </div>

              <!--
              <div>
                <h5>Survey Questions:</h5>
                <div id="questions">
                <input type='text' name='questionnaire' class="form-control input-group" placeholder='Questions' value={{survey[10]}}/>
                <p id='questiontest'></p>
                </div>
                <button class="btn btn-primary" type="button" style="display: block; margin-top: 5px;" id="addq"><span class="glyphicon glyphicon-plus"></span>Add a question</button>
                <a href="{{ url_for('index')}}"><input type="submit" value="Submit" class="btn"></a>
              </div>
              -->
            </form>
          </div>
          <button class="btn btn-primary" type="submit" value="submit">Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  <script>
$(document).ready(function() {
  display_instruction(0);
  // Handle the user clicking on "Add a question"
  $("#addq").click(function() {
    // a nested function creates the HTML DOM structure.
    smLib.surveyForms.addQuestion( $("#register") );
  });
});


$(function() {
  window.smLib = window.smLib || {};
  smLib.forms = smLib.forms || {
    anchorEl: $("<a>"),
    buttonEl: $("<input>").prop("type", "button"),
    checkboxEl: $("<input>").prop("type", "checkbox"),
    radioEl: $("<input>").prop("type", "radio"),
    textEl: $("<input>").prop("type", "text"),
    textareaEl: $("<textarea>"),
    fieldsetEl: $("<fieldset>"),
    labelEl: $("<label>"),
    spanEl: $("<span>"),
    divEl: $("<div>")
  };
  smLib.icons = smLib.icons || {
    addEl: smLib.forms.spanEl.clone().prop({
      "class": "glyphicon glyphicon-plus"
    }),
    removeEl: smLib.forms.spanEl.clone().prop({
      "class": "glyphicon glyphicon-minus"
    })
  };

  smLib.surveyForms = smLib.surveyForms || {

    //Handles DOM Creation//
    addQuestion: function(container) {
      var that = this;
      this.container = container;
      var i = this.container.find(".question-container").length + 1;
      /***
       * When the question is  being created, it will be contained in its own element,
       *   and the answer portion will also be contained. The answer pane will contain the
       *   three options for an answer, whether text, radio or checkbox, as well as allowing
       *   the creation of labels for the radio/checkbox options.
       ***/

      // Create question element, simply a text input wrapped in a label.
      var newQuestionEl = smLib.forms.textEl.clone().prop({
        "name": "q" + i,
        "id": "q" + i,
        "class": "form-control",
        "name": "register"
      });
      var newQuestion = smLib.forms.divEl.clone().prop({
        "class": "question-pane"
      }).append("Question #"+i+": ", newQuestionEl);

      // Create an array of options to determine what type of question this is:
      var newQTypeArr = [];
      var newQTypeRadioEl = smLib.forms.radioEl.clone().prop({
        name: "qType" + i,
        id: "qType" + i,
        value: "radio",
        class: "choices radiobox",
      }).on("click", function() {
        smLib.surveyForms.showOptionsPane(radioOptions);
      });
      newQTypeArr[0] = smLib.forms.labelEl.clone().append(newQTypeRadioEl, " Radio");

      var newQTypeCheckEl = smLib.forms.radioEl.clone().prop({
        name: "qType" + i,
        id: "qType" + i,
        value: "checkbox",
        class: "choices radiobox"
      }).on("click", function() {
        smLib.surveyForms.showOptionsPane(checkboxOptions);
      });
      newQTypeArr[1] = smLib.forms.labelEl.clone().append(newQTypeCheckEl, "Checkbox");

      var newQTypeTextEl = smLib.forms.radioEl.clone().prop({
        name: "qType" + i,
        id: "qType" + i,
        value: "text",
        class: "choices radiobox"
      }).on("click", function() {
        smLib.surveyForms.showOptionsPane(textOptions);
      });
      newQTypeArr[2] = smLib.forms.labelEl.clone().append(newQTypeTextEl, "Text");

      //MCQ
      var addRadioChoiceButton = smLib.forms.buttonEl.clone().prop({
        "class": "btn btn-primary add-radio-choice answer-option",
        "value": "Add Radio button"
      }).append(smLib.icons.addEl.clone(), "Add choices").on("click", function() {
        that.addRadioOptions(radioOptions);
      });

      var radioOptions = smLib.forms.divEl.clone().prop({
        class: "radio-answer-options"
      }).data("control-type", "radio").append(addRadioChoiceButton).on("change", function(){
        that.updatePreview(newQuestion, newAnswerEl, previewContainerEl); 
      }).hide();
      this.addRadioOptions(radioOptions);

      //Checkbox
      var addCheckboxChoiceButton = smLib.forms.buttonEl.clone().prop({
        "class": "btn btn-primary add-checkbox-choice answer-option",
        "value": "Add Checkbox"
      }).append(smLib.icons.addEl.clone(), "Add choices").on("click", function() {
        that.addCheckboxOptions(checkboxOptions);
      });
      var checkboxOptions = smLib.forms.divEl.clone().prop({
        class: "checkbox-answer-options"
      }).append(addCheckboxChoiceButton).on("change", function(){
        that.updatePreview(newQuestion, newAnswerEl, previewContainerEl); 
      }).data("control-type", "checkbox").hide();
      this.addCheckboxOptions(checkboxOptions);

      //Text
      var textOptions = smLib.forms.divEl.clone().prop({
        class: "text-answer-options"
      }).on("change", function(){
        that.updatePreview(newQuestion, newAnswerEl, previewContainerEl); 
      }).data("control-type", "text").hide();
      this.addTextOptions(textOptions);

      // Answer options pane
      var newAnswerEl = smLib.forms.divEl.clone().prop({
        class: "answer-options-pane"
      }).append(radioOptions, checkboxOptions, textOptions);

      var newAnswer = smLib.forms.divEl.clone().prop({
        class: "answer-pane"
      }).append(newQTypeArr, newAnswerEl);
      
      var previewQuestion = smLib.forms.divEl.clone().prop({
        class: "preview-question"
      });
      var previewAnswer = smLib.forms.divEl.clone().prop({
        class: "preview-answer"
      })
      var previewContainerEl = smLib.forms.divEl.clone().prop({
        class: "preview-pane"
      }).on("click", function(){
        that.togglePreview(previewContainerEl);
      }).append(previewQuestion, previewAnswer).hide()
      
      var saveButton = smLib.forms.buttonEl.clone().prop({
        value: "Save question"
      }).on("click", function(){
        that.togglePreview(previewContainerEl);
      });
      var deleteButton = smLib.forms.buttonEl.clone().prop({
        value: "Remove queston"
      }).on("click", function(){
        if(confirm("Are you sure you want to remove this question? Action cannot be undone.") ){
          newQContainerEl.remove();
        }
      })
      var questionControls = smLib.forms.divEl.clone().prop({
        class: "controls-pane"
      }).append(saveButton, deleteButton);

      // The question container pane will contain both the question and the answer container.

      var newQContainerEl = smLib.forms.divEl.clone().prop({
        class: "question-container",
      }).append(newQuestion, newAnswer, previewContainerEl, questionControls);

      this.container.append(newQContainerEl);

    }, //end addQuestion()
    addRadioOptions: function(radioPane) {
      /***
       * Another DOM element creation function. This creates the radio
       *   button text option, and if it's the first, a button to add
       *   more options. 
       ***/

      // We want to get the length of the current choices, 
      //  as this will give us an index for the new option

      var radioChoice = radioPane.find(".radio-choice");
      var choice_c = radioChoice.length;

      var radioTempEl = smLib.forms.radioEl.clone().prop({
        "class": "answer-option radio-choice"
      });

      var radioChoiceTextEl = smLib.forms.textEl.clone().prop({
        "class": "form-control answer-option radio-choice radiochoice"+choice_c,
        "name": "register",
        //"name": "radiochoice" + choice_c,
      });

      var radioChoiceEl = smLib.forms.labelEl.clone().append(radioTempEl, radioChoiceTextEl);
      // Make sure to add the new text element BEFORE the 
      //    add more button.
      radioPane.find(".add-radio-choice").before(radioChoiceEl);
    },
    addTextOptions: function(textPane) {
      this.textPane = textPane;

      var textChoiceTextEl = smLib.forms.textEl.clone().prop({
        "class": "form-control answer-option text-choice",
        "name": "register",
        //"name": "text-placeholder",
      });

      var textChoiceEl = smLib.forms.labelEl.clone().append("Placeholder text: ", textChoiceTextEl);
      textPane.append(textChoiceEl);
    },
    addCheckboxOptions: function(checkboxPane) {
      // We want to get the length of the current choices, 
      //  as this will give us an index for the new option

      var checkboxChoice = checkboxPane.find(".checkbox-choice");
      var choice_c = checkboxChoice.length;

      var checkboxTempEl = smLib.forms.checkboxEl.clone().prop({
        "class": "answer-option checkbox-choice"
      });
      var checkboxChoiceTextEl = smLib.forms.textEl.clone().prop({
        "class": "form-control answer-option checkbox-choice checkboxchoice"+choice_c,
        "name": "register",
        //"name": "checkboxchoice" + choice_c,
      });

      var checkboxChoiceEl = smLib.forms.labelEl.clone().append(checkboxTempEl, checkboxChoiceTextEl);
      // Make sure to add the new text element BEFORE the add more button.
      checkboxPane.find(".add-checkbox-choice").before(checkboxChoiceEl);
    },
    showOptionsPane: function(optionsPane) {
      if (optionsPane.not(":visible")) optionsPane.slideDown().siblings().slideUp();
    },
    updatePreview: function(questionPane, answerPane, previewPane){
      
      var previewQuestion = previewPane.find(".preview-question").empty();
      var previewAnswer = previewPane.find(".preview-answer").empty();
      
      var question = questionPane.text() + questionPane.find("input[type='text']").val();
      var answerOption = answerPane.find(":visible");
      var answers = answerOption.find("input[type='text']" );

      previewQuestion.text(question);

      switch(answerOption.data("control-type") ){
        case "radio":
          answers.each(function(){
            var labelText = $(this).val();
            var rbEl = smLib.forms.radioEl.clone();
            var answerLabelEl = smLib.forms.labelEl.clone()
                               .append(rbEl, labelText );
            previewAnswer.append(answerLabelEl);
          });
          break;
        case "checkbox":
          answers.each(function(){
            var cbEl = smLib.forms.checkboxEl.clone();
            var answerLabelEl = smLib.forms.labelEl.clone()
                               .append(cbEl, $(this).val() );
            previewAnswer.append(answerLabelEl);
          });
          break;
        case "text":
          answers.each(function(){
            var textblockEl = smLib.forms.textEl.clone().attr({
              placeholder: $(this).val()
            });
            previewAnswer.append(textblockEl);
          });
          break;
        }
    },
    togglePreview: function(previewPane){
      if(previewPane.is(":visible") ) {
        previewPane.hide().siblings().show();
      } else {
        previewPane.show().siblings().hide();
      }
    }
  };
});

function minusRow(i, min, add) {

    const table = document.querySelector(".block-container");
    const count = document.getElementById("grid-count")


    if (add) {
      const newCount = parseInt(count.innerHTML) + 1
      count.innerHTML = newCount
      table.children[i].children[0].insertAdjacentHTML(
        "beforebegin",
        ` <div style="
            height: 30px;
            background-color: #ecf0f1;  
            border: 1px solid grey;
             border-radius: 5px;
             margin-top:5px;
          "></div>`
      );
    } else {
      if (table.children[i].children.length > 1) {
        const newCount = parseInt(count.innerHTML) - 1
      count.innerHTML = newCount
        table.children[i].children[0].remove();
      }
    }
  }
   //new-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  function generateqsort(){
    var rangemin = +document.getElementById("rangemin").value;
    var rangemax = +document.getElementById("rangemax").value;

    const min = document.getElementById("rangemin").value;
    const max = document.getElementById("rangemax").value;

    var a = 1;
    var count = 0;
    const countCon = document.getElementById("grid-count")

      
    for(i = min ; i <=max; i++){
       count +=1
    }

    countCon.innerHTML = count

    if (rangemax < 0) {
      const message = `<div style="width:450px; padding:10px;background-color:red;border-radius:5px"><p style="color: white;height: 25px;margin-bottom: 0;width: 406px;">The right input must contain a positive number. </p></div>`;
      document.getElementById("currentsort").innerHTML = message;
    } else if (rangemax - rangemin > 20) {
      const message = `<div style="width:450px; padding:10px;background-color:red;border-radius:5px"><p style="color: white;height: 25px;margin-bottom: 0;width: 417px;margin-left: 8px;">The maximum number of columns allowed is 20. You currently have ${rangemax -
        rangemin} columns.</p></div>`;
      document.getElementById("currentsort").innerHTML = message;
    } else {
      while (rangemin != rangemax) {
        rangemin = rangemin + 1;
        a = a + 1;
      }

      var frames = "";
      for (i = min; i <= max; i++) {
        frames += "1fr ";
      }
      var table = "";

      // Add table cells body
      table += `<div class="block-container" style="min-width:400px;grid-area: blocks;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: ${frames};
    justify-content: space-evenly;;
          margin-bottom:5px">`;
      for (i = min; i <= max; i++) {
        table += `
        <div style="
          width: auto;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;"
        >
          <div style="
            height: 30px;
            background-color: #ecf0f1;
            border: 1px solid grey;
             border-radius: 5px;
             margin-top:5px;
             
          "></div>
        </div>`;
      }

      table += "</div>";

      // Add plus/minus buttons

      table += `<div style="min-width:400px;grid-area: plus-minus;
    display: grid;;
    margin-bottom:5px;
    grid-gap: 5px;
    grid-template-columns: ${frames};">`;

      for (i = 0; i <= max-min; i++) {
        table += `
        <div style = "
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          text-align: center;
          height: 30px;
          width: auto;
          border-radius: 5px;
          "
          > 
            <div onClick="minusRow(${i}, ${min})" style="
              background-color: #d4d8d8;
              border: 1px solid grey;
              border-radius: 5px;
              width: 50%;" 
             >
             <i style="color:white;margin-top: 6px;" class="fa fa-minus"></i>
             </div>
            <div 
            onClick="minusRow(${i}, ${min}, ${true})"
              style="
              background-color: #d4d8d8;
              border: 1px solid grey;
              border-radius: 5px;
              width: 50%;
              margin-left:4px"
            >
            <i style="color: white;margin-top: 6px;" class="fa fa-plus"></i>
            </div>
          </div>`;
      }

      table += "</div>";

      // Add index numbers
      table += `<div style="min-width:400px;grid-area: numbers;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: ${frames};
    justify-content: space-evenly;
    width: 100%;;
    margin-bottom:5px">`;

      for (i = min; i <= max; i++) {
        table += `<h5 style="color:#495057;width: auto;
    text-align: center;">${i}</h5>`;
      }
      table += `</div>`;

      //adds table to html
      document.getElementById("currentsort").innerHTML = table;

      
    }

}

function createtable(rangest, rows){
  //finds how many rows we have
  let row=rows.length;
  
  var arr=[];
  let count=0;
  //while count is less than length of array passed
  while (count < row){
      //deal becomes the amount of boxes in this row
      let deal=rows[count];
      
      //if deal is equal to the number of max columns
      if (deal == rangest){
          let i=0;
          //while i has not reached max number of columns
         
          arr[count]=[];
          while (i != rangest){
              arr[count][i]=1;
              i=i+1;
              //if i reaches the max number of columns
              if (i == rangest){
                  break;
                }
          }
        }
        //if deal is not equal to max columns
        else{
          //this gets me how many columns are missing
          //max columns - current needed columns
          arr[count]=[];
          let missing = rangest-deal;
          //this tells how many to avoid on each side
         // let avoid1= int(missing/2);
         let avoid1=missing/2;
          let avoid2=avoid1;

          let p=0;
          //while avoid is not 0
          while (avoid1 != 0){
              arr[count][p]=2;
              avoid1=avoid1-1;
              p=p+1;
              //if avoid1 is 0
              if (avoid1 == 0){
                  break;
              }
          }

          let n=p;
          var checker1=parseInt(deal)+ parseInt(p);
          //while n is not equal to deal +p
            while(n !=checker1){
            //arr[count]=[];
              arr[count][n]=1;
              n=n+1;
              //if n= deal+p, break loop
              if (n == deal+p){
                  break;
              }
          }
          
          let m=n;
          //while avoid2 is not equal to 0
          while (avoid2 != 0){
           // arr[count]=[];
              arr[count][m]=2;
              avoid2=avoid2 -1;
              m=m+1;
              if (avoid2 == 0){
                  break;
              }
          }
        }
    count=count+1;
    if (count == row){
          break;
      }
  }
  return arr;
}

</script>
<script src="{{url_for('static', filename='js/createsurvey.js')}}"></script>
{% endblock %}